* {
  font-family: 'Pompiere', cursive;
}

.main {
  margin: auto;
  width: 50%;
}

header {
  background-color: #e84743;
  padding: 15px 30px;
  height: 100px;
}


.navBar {
  padding-right: 200px;
}

.navBar p {
  font-size: 5vh;
}

i {
  cursor: pointer;
}

/*-----------NAVBAR-----------*/
.list {
  background-color: white;
  outline: 1px solid #e84743;
  padding: 15px 15px;
  margin-left: 1px;
  float: left;
  z-index: 10;
}

.padding {
  padding: 10px 0;
}

.margin {
  margin: 5px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 7px 20px;
  margin: 20px 0;
  border-radius: 10px;
  cursor: pointer;
}

.liSize {
  font-size: 2.5vh;
}

/*--------------NAVBAR BUTTONS--------------*/
.bg-parc {
  background-color: #82FA58;
}
.bg-bars {
  background-color: #FA5858;
}
.bg-cafes {
  background-color: #FE9A2E;
}
.bg-resto {
  background-color: #8181F7;
}
.bg-nightClub {
  background-color: #FF00BF;
}
.bg-sightSeeing {
  background-color: #81F7F3;
}
.bg-district {
  background-color: #E6E6E6;
}
.btn-noisy {
  background-color: #58D3F7;
}

.rightBtns button {
  margin-right: 5px;
  width: 10vh;
}

/*--------------PIE CHART---------------*/
.pieChart {
  margin: auto;
  width: 50vw;
  height: 30vh;
}


/*----------------GOOGLE MAPS----------------*/
#map-canvas {
  margin: auto;
	width: 50%;
	height: 100vh;
  position: absolute;
  top: 0;
  left: 25vw;
  z-index: -1;
}


/*----------------MEDIA QUERIES---------------*/
@media screen and (max-width: 899px) {
  .main {
    margin: auto;
    width: 100%;
  }

  .navBar {
    padding-right: 25px;
  }

  .list {
    background-color: white;
    outline: 1px solid red;
    padding: 5px 5px;
    margin-left: 1px;
    float: left;
  }

  .padding {
    padding: 0px 0px;
  }

  ul li {
    padding: 7px 10px;
    margin: 20px 0;
    border-radius: 10px;
  }
}
